button {
  width: 100%;
  padding: 14px;
  background-color: #ffc107;
  color: #5d4037;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #ffb300;
  transform: translateY(-2px);
}
